<!-- <h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p> -->

<%= @your_message %>
<p>You</p>

<%= @coach_answer %>
<p>Your coach</p>

<%= link_to 'Ask a new question', '/ask' %>
